# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.BlazorTestProject.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Layla\RiderProjects\CSharpGirlsTrialRun\.idea\.idea.BlazorTestProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
